.page {
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to right, #666666, #9c5353);
  height: 100vh;

}

*{
  overflow: hidden;
}

.bg{
  background-color: #5cb4d6;
}